<div class="row">
    <div class="col-lg-6" style="padding-top: 20px">
        <h3 class="text-center">Listado de Preguntas</h3>
        <hr>
        <div class="card mb-2" *ngFor="let pregunta of listPregunta; let i = index">
            <div class="card-header d-flex justify-content-between align-items-center">
                <div style="width: 70%;">
                    <h5>{{pregunta.descripcion}}</h5>
                </div>
                <div style="width: 30%;">
                    <button class="btn btn-primary btn-sm ml-1 mt-1" (click)="pregunta.hide =! pregunta">Mostrar</button>
                    <button class="btn btn-danger btn-sm ml-1 mt-1" (click)="eliminarPregunta(i)">Eliminar</button>
                </div>
            </div>

            <div class="card-body" [hidden]="pregunta.hide">
                <ul class="list-group">
                    <li class="list-group-item" *ngFor="let respuesta of pregunta.listRespuesta" [ngClass]="{'list-group-item-success': respuesta.esCorrecta == true}">
                        {{respuesta.descripcion}}
                        <span class="material-symbols-outlined add-icon " *ngIf="respuesta.esCorrecta == true">
                            check_circle
                        </span>
                    </li>
                </ul>
            </div>
        </div>
        <div *ngIf="listPregunta.length == 0">
            <h6>No hay preguntas para mostrar</h6>
        </div>
    </div>
    <div class="col-lg-6" style="padding-top: 20px">
        <h3 class="text-center">
            Nueva Preguntas
        </h3>
        <hr>
        <app-nueva-pregunta (enviarPregunta)="guardarPregunta($event)"></app-nueva-pregunta>
    </div>
</div>
<button class="btn btn-success btn-lg btnFinalizar" [disabled]="listPregunta.length == 0" (click)="guardarCuestionario()">FINALIZAR CUESTIONARIO</button>
