<div class="row">
    <div class="col-lg-6 offset-lg-3">
        <h3 class="text-center" style="padding-top: 20px ;">
            Cambiar Contraseña
        </h3>
    </div>
    <form [formGroup]="cambiarPassword" (ngSubmit)="guardarPassword()">
        <div class="mb-3" style="text-align: start;">
            <input type="password" class="form-control" placeholder="Contraseña Anterior" formControlName="passwordAnterior">
            <span class="text-danger ml-3"
                *ngIf="cambiarPassword.get('passwordAnterior')?.hasError('required')  && cambiarPassword.get('passwordAnterior')?.touched">
                La contraseña <strong>es requerida</strong>
            </span>
        </div>
        <div class="mb-3" style="text-align: start;">
            <input type="password" class="form-control" placeholder="Nueva Contraseña" formControlName="nuevaPassword">
            <span class="text-danger ml-3"
                *ngIf="cambiarPassword.get('nuevaPassword')?.hasError('required')  && cambiarPassword.get('nuevaPassword')?.touched">
                La nueva contraseña <strong>es requerida</strong>
            </span>
            <span class="text-danger ml-3"
                *ngIf="cambiarPassword.get('nuevaPassword')?.hasError('minlength')">
                La nueva contraseña debe tener como minimo <strong>4 caracteres</strong>
            </span>
        </div>
        <div class="mb-3" style="text-align: start;">
            <input type="password" class="form-control" placeholder="Confirmar Contraseña" formControlName="passwordConfirmn">
            <span class="text-danger ml-3"
                *ngIf="cambiarPassword.hasError('notSame')">
                Contraseñas <strong>distintas</strong>
            </span>
        </div>
        <app-loading *ngIf="loading"></app-loading>
        <div class="col text-center" style="padding: top 10px; ;">
            <button class="btn btn-primary me-2 btn-acep" [disabled]="cambiarPassword.invalid">Guardar</button>
            <button class="btn btn-secondary " routerLink="../">Volver</button>
        </div>
    </form>
</div>