<nav class="navbar navbar-light bg-color">
    <div class="container-fluid">
        <a class="navbar-brand mg-brand">Preguntas y Respuestas</a>
        <nav class="d-inline-flex ms-md-auto">
            <a class="me-3 py-2 text-dark text-decoration-none" routerLink="/dashboard">Cuestionarios</a>
            <a class="me-3 py-2 text-dark text-decoration-none" routerLink="/dashboard/cambiarContraseña">Cambiar contraseña</a>
        </nav>
        <a class="btn btn-outline-success" (click)="LogOut()">Cerrar sesion</a>
    </div>
</nav>